<h2><%= @restaurant.nom %></h2>
<p>Son Adresse : <%= @restaurant.adresse %></p>
<p>Sa note : <%= @restaurant.note %>/5</p>

<%= link_to "hihé", hihi_path%>
<%= link_to "ici", ici_path%>
<%= link_to "restaurants", restaurants_path%>
<%= link_to "restaurants_new", restaurants_new_path%>